<?xml version="1.0" encoding="utf-8"?>
<uexplugins>
    <plugin
        className="org.zywx.wbpalmstar.plugin.uextabbarwithpopmenu.EUExTabBarWithPopMenu"
        uexName="uexTabBarWithPopMenu" >
        <method name="open" />
        <method name="close" />
        <method name="setItemChecked"/>
        <method name="setBadge" />
        <method name="removeBadge" />
    </plugin>
</uexplugins>
